NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://postgres:password@localhost:5432/huzaifa_portfolio
JWT_SECRET=4be02832b235f6948dce4061d1e4e3bfe62212a248374786821804f9df890f0a
JWT_REFRESH_SECRET=ae3b46b270f4eab1b30c22fd1584ac2c1a2a2fee7fdf28954d2f07b9eacc8c14
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-password
EMAIL_FROM=noreply@example.com
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123456
CSRF_SECRET=0bc8e721098a9256dfdf13fd60aac0ffe1345589f81c1ab3d09c1b7781d7e757
REDIS_ENABLED=false
